body {
    text-align: center;
}

header {
    padding: 3%;
    background: url('https://images-na.ssl-images-amazon.com/images/I/81-ka2qinoL._AC_SX425_.jpg');
    height: 3.5rem;
}

h1 {
    background: -webkit-linear-gradient(rgb(211, 38, 90), rgb(25, 94, 184));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    margin: 10px
}

.showCatFacts {
    margin: 5% 0;
}

#catFacts {
    margin: 3% 0;
    font-weight: bold;
}

.bonus {
    width: 100%;
    height: 100%;
    margin: auto;
}

.bonus iframe {
    width: 560px;
    height: 315px;
}

@media screen and (max-width: 640px) {
    .bonus iframe {
        width: 90%;
        height: auto;
    }
}